.gradle
out
node_modules
dist
app/bower_components
.grunt
_SpecRunner.html
.idea
*.iml
app/scripts/templates/templates.js
.DS_Store
prototypenpm-debug.log
.tmp
app/styles/*
!app/styles/lib/
.npmrc

src/lib/themes

ecl-app
!src/ecl-app

tmp
src/lib/bower_components

modules
!src/modules
src/lib/module-lib-1.0.0.js
src/lib/base-lib-1.0.0.js
test-results
tools/build-scripts/ecl
